body
  $text-color: #2d3033
  +regular
img
  max-width: 100%
.button
  padding: 18px 45px
  +semiBold
  font-size: 13px
  text-transform: uppercase
  color: #ffffff
  background-color: $primary
  outline: none
  cursor: pointer
  text-decoration: none
  transition: 0.3s
  &:hover
    background-color: darken($primary, 10%)
  .bg-secondary
    background-color: $bg-secondary